{"configSettings":[{"appID":"SharedServerToken","serverToken":""},{"appID":"757834986808034","serverToken":"Y2JSFYBEPICTYIDWNUPQLV6XSMYFB3OQ"},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""},{"appID":"1776355336251781","serverToken":"SL5EAF4XUX4OIO2KY547AZNBD2NU33CR"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"1929647800898894","serverToken":""},{"appID":"1280352090185980","serverToken":"XC2VRM4PQ7XTRZMALEKIM2XQB2FHD2BD"},{"appID":"e7878726-1bfc-4336-9487-e0951cf78a1b","serverToken":""}]}